@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

* {
	padding: 0;
	margin: 0;
	font-family: "Lato", sans-serif;
	position: relative;
}

.title-image {
    background-image: url("./Bilder/Frontpage.jpg");
    background-size:auto;
	background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
	height: 100vh;
	
}

html {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
    height: 100%;
    width: 6%;
    position: fixed;
	top:0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0px 3px black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
	text-align: center;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 0.8em;
	margin-left: 3%;
}
ul li a:hover {
    background: white;
    color: #dc4b3a;
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
#section1 {
    height: 50vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	background-color: #3975db;
}
#section1 #text h2 {
	line-height: 170%;
	overflow: hidden;
}


#section2 {
    height: 230vh;
    background-color: rgb(235, 235, 235)
}
#section3 {
	background-color: #dc4b3a;
}
#section3 .main video {
	width: auto;
	height: 70vh;
}
#section4 {
	height: 70vh;
	background-color: rgb(235, 235, 235)

}


.timeline {
	padding: 40px 0px;
	width: 80%;
	margin-left: 10%;
    margin-top: 3%;
	margin-bottom: 40px;
    position: absolute;
}

.timeline:before {
	content: "";
	position: absolute;
	top: 100px;
	left: 65px;
	width: 3px;
	height: calc(100% - 8%);
	background: #dc4b3a;
}

.timeline .column {
	margin: 60px 40px 40px 120px;
}

.timeline .column .title h1 {
	font-size: 3.7em;
    padding-bottom: 1.9%;
	color: rgba(0,0,0,0.1);
	font-family: serif;
	letter-spacing: 2px;
}

.timeline .column .title h1:before {
	content: "";
	position: absolute;
	left: -62px;
	top: 86px;
	width: 10px;
	height: 10px;
	background: #dc4b3a;
	border: 3px solid #dc4b3a;
}
.timeline .column .title h2 {
	margin-top: -63px;
	font-size: 2em;
}
.timeline .column .title h3 {
	font-size: 1.2em;
}
.timeline .column .description p {
	font-size: 1.2em;
	line-height: 28px;
	margin-left: 20px;
	margin-top: 10px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.timeline .column .description {
	border-left: 1px solid #000;
    margin-top: 1%;
}

.timeline .column .link a {
    font-size: 16px;
    text-decoration: none;
    text-decoration: underline;
    color: #000;
}

.main {
	width: 80%;
	margin-left: 10%;
	margin-top: 80px;
	display: inline-block;
}
.main h1 {
	font-size:3.2em;
	line-height: 60px;
}
.main h2 {
    font-size: 1.1em;
    margin-top: 2%;
    margin-left: 2%; 
}
.main p {
	font-size: 13px;
	line-height: 20px;
	font-family: serif;
	text-align: right;
}
.content {
	width: 50%;
	height: 50%;
}

